@model Restaurant

@{
    var restaurant = Model;
    ViewData["Title"] = "FloorPlan";
}

<h2>@restaurant.Name FloorPlan</h2>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="chart" height: 200px;
         width: 50%;></div>

    <script type="text/javascript" src="https://cdn.seats.io/chart.js"></script>
    <script>
        var chart = new seatsio.SeatingChart({
            divId: "chart",
            publicKey: "8a825432-a12d-449c-875e-4e8956fd7126",
            event: "@restaurant.EventKey"
        }).render();
    </script>
</body>
