@model Restaurant

@{
    var restaurant = Model;
    ViewData["Title"] = "FloorPlan";
}

<script type="text/javascript">
    document.getElementById('Section1Enabled').onchange = function () {
        document.getElementById('Section1Name').disabled = !this.checked;
        document.getElementById('Section1Number').disabled = !this.checked;
    };
    document.getElementById('Section2Enabled').onchange = function () {
        document.getElementById('Section2Name').disabled = !this.checked;
        document.getElementById('Section2Number').disabled = !this.checked;
    };
    document.getElementById('Section3Enabled').onchange = function () {
        document.getElementById('Section3Name').disabled = !this.checked;
        document.getElementById('Section3Number').disabled = !this.checked;
    };
    document.getElementById('Section4Enabled').onchange = function () {
        document.getElementById('Section4Name').disabled = !this.checked;
        document.getElementById('Section4Number').disabled = !this.checked;
    };
    document.getElementById('Section5Enabled').onchange = function () {
        document.getElementById('Section5Name').disabled = !this.checked;
        document.getElementById('Section5Number').disabled = !this.checked;
    };
    document.getElementById('Section6Enabled').onchange = function () {
        document.getElementById('Section6Name').disabled = !this.checked;
        document.getElementById('Section6Number').disabled = !this.checked;
    };
</script>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 class="display-4" style="font-size: 40px;">Floor Plan</h2>
    <div class="row" style="margin-top: 50px; max-width: 1000px;">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="floor-plan-image" style="background: #fff; padding: 5px; border-radius: 5px;  margin-bottom: 30px;">
                        <img src="http://4.bp.blogspot.com/-3FSnC6TQ5iM/T9XAuQUhHOI/AAAAAAAABGA/doakEq5PsXM/s1600/restaurant+layout.jpg" style="max-width: 100%;" />
                    </div>
                    <div class="form-group mb-5">
                        <label class="control-label">Floor Plan Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="restaurantFloorPlan">
                                <label class="custom-file-label" for="restaurantFloorPlan">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                            </div>
                        </div>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 multi-form">
            <form asp-action="UpdateSections">

                <!-- SECTION 1 -->

                <div class="col-12">
                    <label class="control-label">Section 1</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="Section1Enabled">
                            </div>
                        </div>
                        <input type="text" class="form-control" name="Section1Name" placeholder="Section Name" id="Section1Name" value="" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <select class="form-control embedded-input" name="Section1Seats" id="Section1Number" disabled>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION 2 -->

                <div class="col-12">
                    <label class="control-label">Section 2</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="Section2Enabled">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Section Name" name="Section2Name" id="Section2Name" value="" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <select class="form-control embedded-input" name="Section2Seats" id="Section2Number" disabled>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION 3 -->

                <div class="col-12">
                    <label class="control-label">Section 3</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="Section3Enabled">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Section Name" name="Section3Name" id="Section3Name" value="" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <select class="form-control embedded-input" name="Section3Seats" id="Section3Number" disabled>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION 4 -->

                <div class="col-12">
                    <label class="control-label">Section 4</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="Section4Enabled">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Section Name" name="Section4Name" id="Section4Name" value="" disabled>
<div class="input-group-append">
                            <div class="input-group-text">
                                <select class="form-control embedded-input" name="Section4Seats" id="Section4Number" disabled>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION 5 -->

                <div class="col-12">
                    <label class="control-label">Section 5</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="Section5Enabled">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Section Name" name="Section5Name" id="Section5Name" value="" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <select class="form-control embedded-input" name="Section5Seats" id="Section5Number" disabled>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION 6 -->

                <div class="col-12">
                    <label class="control-label">Section 6</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="Section6Enabled">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Section Name" name="Section6Name" id="Section6Name" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <select class="form-control embedded-input" name="Section6Seats" id="Section6Number" disabled>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12" style="margin-top: 30px;">
                    <input type="submit" style="width: 100%;" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <!--

    <div id="chart"></div>

    <script type="text/javascript" src="https://cdn.seats.io/chart.js"></script>
    <script>
        var chart = if;
    </script>

    -->

</body>