@model Restaurant
@{
    var restaurant = Model;
}

@{
    ViewData["Title"] = "Dashboard";
}

<!--Sidebar-->
<body>
    <!--
    <div>
        <div class="dashboard-menu">
            <div class="dashboard-title">@restaurant.Name</div>
            <div class="menu-list">
                <ul class="dashboard-content">
                    <a href="?=overview" style="display:block;"><li class="dashboard-category"><img src="~/images/dashboard-icons/dashboardicon_overview.png" class="dash-icon" />Overview</li></a>
                    <a href="" style="display:block;"><li class="dashboard-category"><img src="~/images/dashboard-icons/dashboardicon_graph.png" class="dash-icon" />Statistics</li></a>
                    <a href="?=floorplan" style="display:block;"><li class="dashboard-category"><img src="~/images/dashboard-icons/dashboardicon_table.png" class="dash-icon" />Floor Plan</li></a>
                    <a href="?=profile" style="display:block;"><li class="dashboard-category"><img src="~/images/dashboard-icons/dashboardicon_profile.png" class="dash-icon" />Profile</li></a>
                    <li class="dashboard-filler"></li>
                    <a href="?=settings" style="display:block"><li class="dashboard-category"><img src="~/images/dashboard-icons/dashboardicon_gear.png" class="dash-icon" />Settings</li></a>
                </ul>
            </div>
        </div>
    -->

    <aside class="sidebar">
        <div class="sidebar-title">
            <img src="~/images/restaurants/@restaurant.ImagePath" /> @restaurant.Name
        </div>
        <div class="sidebar-links">
            <a href="?=overview"><i class="fas fa-list-alt"></i> Overview</a>
            <a href="?=statistics"><i class="fas fa-chart-bar"></i> Statistics</a>
            <a href="?=floorplan"><i class="fas fa-desktop"></i> Floor Plan</a>
            <a href="?=profile"><i class="fas fa-user-circle"></i> Profile</a>
            <a href="?=settings"><i class="fas fa-cog"></i> Settings</a>
        </div>
    </aside>

        <div class="content">

        </div>
    </div>
</body>

<style>
    .global-footer, nav.navbar {
        visibility: hidden;
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background: #111;
        color: #fff;
    }

    .sidebar-title {
        padding: 20px;
        border-bottom: 1px #333 solid;
        font-size: 20px;
        font-weight: 300;
    }

    .sidebar-title img {
        max-height: 50px;
        max-width: 50px;
        border-radius: 5px;
        margin-right: 10px;
        background: #fff;
    }

    .sidebar-links a {
        display: block;
        padding: 20px;
        border-bottom: 1px #333 solid;
        color: #fff;
    }

    .sidebar-links a:hover {
        background-color: #222;
    }

    .sidebar-links a i {
        width: 24px;
        margin-right: 10px;
        font-size: 16px;
        text-align: center;
    }


    /*
    .dashboard-menu {
        float: left;
        width: 16.5%;
    }

    .content {
        margin-left: 0%;
        height: 100%;
        border-top: 1px solid #bababa;
    }

    .dashboard-content {
        list-style-type: none;
        background-color: #1a242f;
        width: 100%;
        min-width: 100%;
        margin-bottom: 0px;
        height: auto;
        min-height: 100%;
    }

    .dashboard-category {
        opacity: 0.8;
        margin-left: -40px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        border-top: 1px solid #10171e;
    }

        .dashboard-category:hover {
            background-color: #10171e;
            opacity: 1;
            border-left: 8px solid #5D7337;
        }

    .dashboard-filler {
        margin-left: -40px;
        border-top: 1px solid #10171e;
        height: 54.4vh;
    }

    html, body {
        overflow: hidden;
    }

    .dash-icon {
        width: 25px;
        height: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .dashboard-title {
        width: 100%;
        background-color: #1a242f;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        font-size: 20px;
    }
    */

</style>

<!--Views-->
@Html.Partial("~/Views/Restaurant/DashOverview.cshtml")







