@model Restaurant
@{
    var restaurant = Model;
}


<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h2 class="display-4" style="font-size: 40px;">@restaurant.Name Seat Management</h2>
    <div class="row" style="margin-top: 30px; max-width: 1000px;">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <b>Current wait time:</b> @restaurant.Stats.WaitTime  minutes
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px; max-width: 1000px;">
        <div class="col-lg-6">
            <div class="available-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px;">Available Seats</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />
                <div class="restaurant-section">
                    <h5 style="font-weight: 700;">Table</h5>
                    <button type="button" class="btn btn-success">Table 1</button>
                    <button type="button" class="btn btn-success">Table 2</button>
                    <button type="button" class="btn btn-success">Table 3</button>
                    <button type="button" class="btn btn-success">Table 4</button>
                </div>
                <div class="restaurant-section">
                    <h5 style="font-weight: 700;">Booth</h5>
                    <button type="button" class="btn btn-success">Booth 1</button>
                    <button type="button" class="btn btn-success">Booth 2</button>
                    <button type="button" class="btn btn-success">Booth 3</button>
                    <button type="button" class="btn btn-success">Booth 4</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="unavailable-tables" style="background: #111; padding: 20px; border-radius: 5px;">
                <h3 class="display-4" style="font-size: 30px; margin-bottom: 15px;">Seats in Use</h3>
                <hr style="border-color: #333; margin-left: -20px; margin-right: -20px;" />
                <div class="restaurant-section">
                    <h5 style="font-weight: 700;">Table</h5>
                    <button type="button" class="btn btn-danger">Table 5</button>
                    <button type="button" class="btn btn-danger">Table 6</button>
                    <button type="button" class="btn btn-danger">Table 7</button>
                    <button type="button" class="btn btn-danger">Table 8</button>
                </div>
                <div class="restaurant-section">
                    <h5 style="font-weight: 700;">Booth</h5>
                    <button type="button" class="btn btn-danger">Booth 5</button>
                    <button type="button" class="btn btn-danger">Booth 6</button>
                    <button type="button" class="btn btn-danger">Booth 7</button>
                    <button type="button" class="btn btn-danger">Booth 8</button>
                </div>
            </div>
        </div>
    </div>
</body>

<div>

    @{
        List<SelectListItem> list = new List<SelectListItem>();
    }

    @foreach (var table in restaurant.Tables)
    {
        if (!table.IsTaken)
        {
            list.Add(new SelectListItem
            {
                Text = table.TableName,
                Value = table.TableName

            });
        }
    }

</div>

<script>
    function reserveTable(value) {
        reload();
    }

    function reload() {
        var container = document.getElementById("dropdown");
        var content = container.innerHTML;
        container.innerHTML = content;
    }
</script>
