
@{
    ViewData["Title"] = "Designer";
}

<h2>Designer</h2>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="chartDesigner"></div>

    <script src="https://cdn.seats.io/chart.js"></script>
    <script>
    new seatsio.SeatingChartDesigner({
        divId: "chartDesigner",
        designerKey: "250f252e-eefe-4bcb-a83b-fc3dc16a93cd",
        chartKey: "a67cdb21-58d6-5032-27e7-3916fa1f15d8"
    }).render();
    </script>
</body>

