
@{
    ViewData["Title"] = "Generic";
}

<div class="container-fluid" style="background: #5d7337; padding-top: 80px; padding-bottom: 70px;">
    <div class="container text-center">
        <h1 style="font-size: 50px; margin-bottom: 10px; color: #fff;">Restaurant Title</h1>
        <button type="button" class="btn btn-outline-light" style="margin: 5px;">italian</button>
        <button type="button" class="btn btn-outline-light" style="margin: 5px;">casual</button>
        <button type="button" class="btn btn-outline-light" style="margin: 5px;">pasta</button>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="col-lg-9">
            Left
        </div>
        <div class="col-lg-3">
            Right
        </div>
    </div>
</div>