@{
    ViewData["Title"] = "Restauranteur Login";
}

<div class="container-fluid body-content sn-image sn5 fade80" style="color: #fff;">
    <div class="container" style="padding-top: 150px; padding-bottom: 150px;">
        <div class="col-lg-12">
            <h2 style="text-align: center; margin-bottom: 50px;" class="display-4">Sign into your account.</h2>
        </div>
        <div style="max-width: 600px; margin: 0 auto;">
            <form>
                <div class="text-danger"></div>
                <div class="form-group row">
                    <label class="control-label col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input class="form-control" placeholder="Email" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input class="form-control" placeholder="Password" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-sm-9 offset-3" style="margin-top: 10px; text-align: right; font-style: italic; font-weight: 700; font-size: 14px;">
                        <a href="#" style="color: #888;" data-toggle="modal" data-target="#ForgotPassword">Forgot your password?</a>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 50px;">
                    <div class="col-sm-10 offset-2">
                        <input type="submit" value="Sign In" class="btn btn-sn float-right" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ForgotPassword" tabindex="-1" role="dialog" aria-labelledby="ForgotPassword" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ForgotPasswordTitle">Forgot your password?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please enter your email address below and we'll send you a link to reset your password.</p>
                <input class="form-control white-bg" placeholder="Email" />
                <span class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sn">Enter</button>
            </div>
        </div>
    </div>
</div>