@{
    ViewData["Title"] = "Home";
}
<div class="container-fluid body-content sn-image sn2 fade60" style="color: #fff; padding: 100px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 style="text-align: center; margin-bottom: 20px; font-size: 48px;" class="display-4">What are you craving?</h2>
                <form class="form-inline my-2 my-lg-0" style="max-width: 700px; margin: 0 auto;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for a restaurant or keyword" aria-label="Search" style="width: calc(100% - 80px);">
                    <button class="btn btn-sn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-lg-8">

                <!-- RESTAURANT LISTING -->
                <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title display-4"><a href="/">Restaurant Title</a></h3>
                            <span class="restaurant-location"><a href="/">123 West North Street, Auburn Hills, MI 12345</a></span>
                            <div class="keywords">
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                            <button class="btn btn-dark btn-reserve" type="submit">More Info</button>
                        </div>
                    </div>
                </div>

                <!-- RESTAURANT LISTING -->
                <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title display-4"><a href="/">Restaurant Title</a></h3>
                            <span class="restaurant-location"><a href="/">123 West North Street, Auburn Hills, MI 12345</a></span>
                            <div class="keywords">
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                            <button class="btn btn-dark btn-reserve" type="submit">More Info</button>
                        </div>
                    </div>
                </div>

                <!-- RESTAURANT LISTING -->
                <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title display-4"><a href="/">Restaurant Title</a></h3>
                            <span class="restaurant-location"><a href="/">123 West North Street, Auburn Hills, MI 12345</a></span>
                            <div class="keywords">
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                            <button class="btn btn-dark btn-reserve" type="submit">More Info</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="sn-sidebar">
                    Sidebar
                </div>
            </div>
        </div>
    </div>
</div>
