@using SeatedNow.Managers
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SeatedNow</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    </environment>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/images/seatednow-logo-small.png" height="22" alt="SeatedNow">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-sm-0"></ul>
                <ul class="navbar-nav mt-2 mt-sm-0">
                    @{
        UserSession userSession = new UserSession();
        Console.WriteLine(userSession.IsValid());
        if (userSession.IsValid())
        {

                @if (userSession.GetRole() == "Admin")
                {
                    <li class="nav-item">
                        <a class="btn btn-warning mr-0 mr-sm-2" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="btn btn-dark mr-0 mr-sm-2" asp-area="" asp-controller="Account" asp-action="Profile">Hello, @userSession.GetFirstName()</a>
                </li>

                <li class="nav-item mt-2 mt-sm-0 mb-2 mb-sm-0">
                    <a class="btn btn-outline-sn" asp-area="" asp-controller="Account" asp-action="LogoutUser">Logout</a>
                </li>
        }
        else
        {
                <li class="nav-item">
                    <a class="btn btn-dark mr-0 mr-sm-2" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                </li>

                <li class="nav-item mt-2 mt-sm-0 mb-2 mb-sm-0">
                    <a class="btn btn-outline-sn" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                </li>
        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container-fluid text-light" style="background: #0a0a0a; padding:30px 0 30px 0">
            <div class="container" style="padding-left: 10px; padding-right: 10px;">
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-6 text-center text-sm-left">
                        <img src="~/images/seatednow-logo-white-small.png" alt="SeatedNow">
                    </div>
                    <div class="col-sm-6 text-center text-sm-right">
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        <a asp-area="" asp-controller="Restaurant" asp-action="Login">Restaurateurs</a>
                        <span>&copy; 2018 - SeatedNow</span>
                    </div>

                </div>

            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>
