/* -- Font Changes -- */

body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.4em;
}

/* -- Danes Changes, move somewhere appropritate*/

/*

table {
    border: 2px solid green;
}

thead tr {
    background-color: #aaa
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

    */

/* -- General Changes to Bootstrap --*/

.btn {
    font-size: 15px;
}

h6 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
}

.form-control {
    font-size: 15px !important;
    line-height: 1.4em;
    padding: 8px 12px 7px 12px;
    border: none;
}

.btn-dark {
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}

.btn-dark:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.form-control:focus {
    color: #555555;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255, 0.3);
}

.form-control.white-bg {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

footer .row img {
    margin: 20px 5px;
}

footer .row a {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 700;
}

footer .row span {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    color: #888;
}

/*-- Header Image and Image Background --*/

.sn-image {
    display: block;
    position: relative;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sn-image.sn1 {
    background-image: url('/images/restaurant1.jpg');
    background-position: bottom center;
}

.sn-image.sn2 {
    background-image: url('/images/restaurant2.jpg');
}

.sn-image.sn3 {
    background-image: url('/images/restaurant3.jpg');
}

.sn-image.sn4 {
    background-image: url('/images/restaurant4.jpg');
}

.sn-image.sn5 {
    background-image: url('/images/restaurant5.jpg');
}

.sn-image.sn6 {
    background-image: url('/images/restaurant6.jpg');
}

.sn-image.sn7 {
    background-image: url('/images/restaurant7.jpg');
}

.sn-image.sn8 {
    background-image: url('/images/restaurant8.jpg');
}

.sn-image.fixed {
    width: 100%;
    height: 300px;
}

.sn-image:before {
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.sn-image.fade10:before { content: ""; opacity: 0.1; }

.sn-image.fade20:before { content: ""; opacity: 0.2; }

.sn-image.fade30:before { content: ""; opacity: 0.3; }

.sn-image.fade40:before { content: ""; opacity: 0.4; }

.sn-image.fade50:before { content: ""; opacity: 0.5; }

.sn-image.fade60:before { content: ""; opacity: 0.6; }

.sn-image.fade70:before { content: ""; opacity: 0.7; }

.sn-image.fade80:before { content: ""; opacity: 0.8; }

.sn-image.fade90:before { content: ""; opacity: 0.9; }

.sn-green-pattern {
    display: block;
    position: relative;
    background-color: #5d7337;
}

.sn-green-pattern:before {
    background-image: url('/images/food-pattern.svg');
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
}

/*-- Create New Primary Color --*/

a {
    color: #5D7337;
}

a:hover {
    color: #5D7337;
    text-decoration: none !important;
}

p a {
    border-bottom: 1px transparent solid;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

p a:hover {
    border-bottom: 1px #5D7337 solid;
}

.sn-green-pattern a {
    color: #fff;
}

.sn-green-pattern a:hover {
    color: #fff;
}

.sn-green-pattern p a:hover {
    border-bottom: 1px #fff solid;
}

.btn-sn {
    color: #fff;
    background-color: #5D7337;
    border-color: #5D7337;
}

.btn-sn:hover {
    color: #fff;
    background-color: #4B5C2F;
    border-color: #3D4A28;
}

.btn-outline-sn {
    color: #5D7337;
    background-color: transparent;
    background-image: none;
    border-color: #5D7337;
}

.btn-outline-sn:hover {
    color: #fff;
    background-color: #5D7337;
    border-color: #5D7337;
}

.btn-sn:focus, .btn-sn.focus, .btn-outline-sn:focus, .btn-outline-sn.focus {
    box-shadow: 0 0 0 0.2rem rgba(93, 115, 55, 0.2);
}

/* -- Error Messages on Forms -- */

.field-validation-error span {
    color: #fff !important;
    margin-top: 7px;
    display: block;
    font-weight: 700;
    font-size: 15px;
}

.field-validation-error span::before {
    content: '\f06a';
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    margin-right: 5px;
}

.form-control.input-validation-error {
    box-shadow: 0 0 0 0.2rem rgba(255,0,0, 1);
}

/* -- Logged Out -- */

h1.title {
    max-width: 80%;
    font-weight: 200;
    font-size: 50px;
}

.btn-lg {
    font-size: 20px;
}

.sn-favorites i {
    font-size: 100px;
    color: #ffc107;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.container-fluid:hover .sn-favorites i {
    transform: rotate(50deg);
}

/* -- Logged Out Blurb -- */

.sn-blurb {
    text-align: center;
    cursor: default;
    max-width: 270px;
    margin: 0 auto 20px auto;
}

.sn-blurb i {
    display: inline-block;
    font-size: 44px;
    height: 100px;
    width: 100px;
    line-height: 90px;
    color: #5d7337;
    background: #fff;
    border: 5px #eee solid;
    border-radius: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sn-blurb:hover i {
    transform: rotate(360deg);
    background: #5d7337;
    border-color: #5d7337;
    color: #fff;
}

.sn-blurb h4 {
    font-weight: 200;
    margin-top: 20px;
    font-size: 24px;
}

/* -- Logged Out Example Keywords -- */

.example-keywords {
    display: inline-block;
    background: rgba(0,0,0,0.1);
    border: 1px rgba(255,255,255,0.2) solid;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.example-keywords button {
    margin: 5px;
    cursor: default !important;
}

.example-keywords button:before {
    content: '#';
}

/* -- Logged In Sidebar -- */

.sn-sidebar {
    display: block;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}

/* -- Logged In Keywords -- */

.sn-top-keywords {
    display: block;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 40px;
    background: #111;
    color: #fff;
}

.sn-top-keywords button {
    margin: 5px;
}

.sn-top-keywords button:before {
    content: '#';
}

.sn-top-keywords h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 5px 5px 10px 5px;
}

/* -- Logged In Listings -- */

.sn-listing {
    display: block;
    min-height: 100px;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 30px;
}

.sn-listing .logo {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
    line-height: 100px;
}

.sn-listing .logo img {
    max-width: 100%;
    max-height: 100px;
}

.sn-listing h3.restaurant-title {
    font-size: 28px;
    line-height: 140%;
    margin: 0;
}

.sn-listing h3.restaurant-title a {
    color: #333;
}

.sn-listing .restaurant-location {
    font-size: 14px;
}

.sn-listing .keywords {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.sn-listing .keywords button:before {
    content:'#';
}

.sn-listing .btn-sm {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.sn-listing .btn-light {
    background-color: #ddd;
    border: none;
}

.sn-listing .btn-light:hover {
    background-color: #ccc;
}

.sn-listing .ratings {
    color: #ffc107;
    margin-top: 10px;
}

.sn-listing .ratings a.ratings-link {
    color: #555;
    font-style: italic;
    font-size: 14px;
    display: inline-block;
    margin: 5px;
}

.sn-listing button.btn-reserve {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#restaurant-info p {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 35px;
}

#restaurant-info p i {
    float: left;
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 20px;
    color: #bbb;
    width: 25px;
    height: 100%;
    margin-left: -35px;
}

#restaurant-hours b {
    width: 100px;
    display: inline-block;
}