body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.4em;
}

/* -- General Changes to Bootstrap --*/

.btn {
    font-size: 15px;
}

h6 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
}

.form-control {
    font-size: 15px !important;
    line-height: 1.4em;
    padding: 8px 12px 7px 12px;
    border: 0px transparent solid;
}

footer {
    font-size: 14px;
}

.btn-dark {
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}

    .btn-dark:hover {
        color: #fff;
        background-color: #000000;
        border-color: #000000;
    }

/*-- Header Image and Image Background --*/
.sn-image {
    display: block;
    position: relative;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sn-image.sn1 {
    background-image: url('/images/restaurant1.jpg');
    background-position: bottom center;
}

.sn-image.sn2 {
    background-image: url('/images/restaurant2.jpg');
}

.sn-image.sn3 {
    background-image: url('/images/restaurant3.jpg');
}

.sn-image.sn4 {
    background-image: url('/images/restaurant4.jpg');
}

.sn-image.fixed {
    width: 100%;
    height: 300px;
}

.sn-image:before {
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.sn-image.fade10:before { content: ""; opacity: 0.1; }

.sn-image.fade20:before { content: ""; opacity: 0.2; }

.sn-image.fade30:before { content: ""; opacity: 0.3; }

.sn-image.fade40:before { content: ""; opacity: 0.4; }

.sn-image.fade50:before { content: ""; opacity: 0.5; }

.sn-image.fade60:before { content: ""; opacity: 0.6; }

.sn-image.fade70:before { content: ""; opacity: 0.7; }

.sn-image.fade80:before { content: ""; opacity: 0.8; }

.sn-image.fade90:before { content: ""; opacity: 0.9; }

.sn-green-pattern {
    display: block;
    position: relative;
    background-color: #5d7337;
}

.sn-green-pattern:before {
    background-image: url('/images/food-pattern.svg');
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
}

/*-- Create New Primary Color --*/

a {
    color: #5D7337;
}

a:hover {
    color: #5D7337;
    text-decoration: none !important;
}

p a {
    border-bottom: 1px transparent solid;
    transition: border-color 0.15s ease-in-out;
}

p a:hover {
    border-bottom: 1px #5D7337 solid;
    transition: border-color 0.15s ease-in-out;
}

.sn-green-pattern a {
    color: #fff;
}

.sn-green-pattern a:hover {
    color: #fff;
}

.sn-green-pattern p a:hover {
    border-bottom: 1px #fff solid;
}

.btn-sn {
    color: #fff;
    background-color: #5D7337;
    border-color: #5D7337;
}

.btn-sn:hover {
    color: #fff;
    background-color: #4B5C2F;
    border-color: #3D4A28;
}

.btn-outline-sn {
    color: #5D7337;
    background-color: transparent;
    background-image: none;
    border-color: #5D7337;
}

.btn-outline-sn:hover {
    color: #fff;
    background-color: #5D7337;
    border-color: #5D7337;
}

.btn-sn:focus, .btn-sn.focus, .btn-outline-sn:focus, .btn-outline-sn.focus {
    box-shadow: 0 0 0 0.2rem rgba(93, 115, 55, 0.2);
}

.form-control:focus {
    color: #555555;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255, 0.3);
}

/* -- Error messages on forms -- */

.field-validation-error span {
    color: #fff !important;
    margin-top: 7px;
    display: block;
    font-weight: 700;
    font-size: 15px;
}

.field-validation-error span::before {
    content: '\f06a';
    font-family: 'Font Awesome 5 Solid';
    display: none;
    font-size: 16px;
}

.field-validation-error .svg-inline--fa {
    margin-right: 5px;
    font-size: 14px;
}

.form-control.input-validation-error {
    box-shadow: 0 0 0 0.2rem rgba(255,0,0, 1);
}