body {

}

.sn-image {
    background-image: url('/images/seatednow-header.jpg');
    background-color: 000;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sn-image.fixed {
    width: 100%;
    height: 500px;
}

.sn-image.faded {
    display: block;
    position: relative;
}

.sn-image.faded:before {
    background: #000;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.8;
}

.btn-sn {
    color: #fff;
    background-color: #5D7337;
    border-color: #5D7337;
}

.btn-sn:hover {
    color: #fff;
    background-color: #4B5C2F;
    border-color: #3D4A28;
}

.btn-outline-sn {
    color: #5D7337;
    background-color: transparent;
    background-image: none;
    border-color: #5D7337;
}

.btn-outline-sn:hover {
    color: #fff;
    background-color: #5D7337;
    border-color: #5D7337;
}

.btn-sn:focus, .btn-sn.focus, .btn-outline-sn:focus, .btn-outline-sn.focus {
    box-shadow: 0 0 0 0.2rem rgba(93, 115, 55, 0.2);
}

a {
    color: #5D7337;
}

a:hover {
    color: #5D7337;
    text-decoration: underline;
}
