
@{
    ViewData["Title"] = "Index";
}

<h2>The Administration Panel thats used for management type things like update users and verifying the credentials of a restaurant</h2>

<p>
    @Html.ActionLink("Accounts", "Accounts", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Restaurants", "Restaurants", new { /* id=item.PrimaryKey */ })
</p>




