
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Accounts", "Accounts", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Restaurants", "Restaurants", new { /* id=item.PrimaryKey */ })
</p>




