@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"] SeatedNow</h2>

<p>SeatedNow is a new and exciting startup that aims to propel small to mid-size restaurants or food establishments into the digital era. We provide a seating reservation service that purpose is to increase both customer traffic and reservation efficiency. With state of the art algorithmic mathematics we are able to estimate average wait times for a table at the establishment and project those to customers that are looking for a place to eat. SeatedNow is designed to decrease the number of calls, for wait times and reservations, a restaurant receives. This will in turn decrease the amount of time staff are occupied with calls and can focus on other customers.</p>


