@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<head>
    <style>
        #map {
            height: 400px;
            width: 50%;
        }
    </style>
</head>
<body>
    <p>SeatedNow is a new and exciting startup that aims to propel small to mid-size restaurants or food establishments into the digital era. We provide a seating reservation service that purpose is to increase both customer traffic and reservation efficiency. With state of the art algorithmic mathematics we are able to estimate average wait times for a table at the establishment and project those to customers that are looking for a place to eat. SeatedNow is designed to decrease the number of calls, for wait times and reservations, a restaurant receives. This will in turn decrease the amount of time staff are occupied with calls and can focus on other customers.</p>
    <div>
        <address>
            Seated Now Rd.<br />
            Rochester, MI 48309<br />
            <abbr title="Phone">P:</abbr>
            248-555-5555
        </address>
        <p>Rochester, MI</p>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@seatednow.com">Support@seatednow.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@seatednow.com">Marketing@seatednow.com</a>
        </address>
    </div>
    <h3>Seated Now Headquarters</h3>
    <div id="floating-panel" style="display:none;">
        <input id="address" type="textbox" value="Rochester, MI">
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: { lat: -34.397, lng: 150.644 }
            });
            var geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfBylWQ5799KJI6ytzM3_uRYTqWVAphDo&callback=initMap">
    </script>
</body>