@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <img src="~/images/seatednow-header.jpg" width="100%">
    </div>
</div>
<div class="container body-content">
    <div class="row">
        Hello!
    </div>
</div>