@{
    ViewData["Title"] = "Reservations made simple";
}
<div class="container-fluid body-content sn-image sn2 fade70" style="color: #fff; padding: 100px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <center><h1>Reservations made simple.</h1></center>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md">
            <div class="sn-blurb">
                <div class="blurb-icon"><i class="fas fa-hourglass-half"></i></div>
                <h4>Skip the line.</h4>
                <p>Snag your table ahead of time and avoid the long wait times.</p>
            </div>
        </div>
        <div class="col-md">
            <div class="sn-blurb">
                <div class="blurb-icon"><i class="fas fa-cog"></i></div>
                <h4>Do it your way.</h4>
                <p>Choose where you want to sit. Booth? Patio? Up to you.</p>
            </div>
        </div>
        <div class="col-md">
            <div class="sn-blurb">
                <i class="fas fa-heart" style="line-height: 95px;"></i>
                <h4>Save your faves.</h4>
                <p>Rate the restaurants you like and save the restaurants you love.</p>
            </div>
        </div>
        <div class="col-md">
            <div class="sn-blurb">
                <div class="blurb-icon"><i class="fas fa-credit-card"></i></div>
                <h4>Completely free.</h4>
                <p>We'll never ask you for payment information. Never ever.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background: #ddd; padding-top: 50px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            Next row
        </div>
    </div>
</div>