@model List<RestaurantListViewModel>

@{ 
    var results = Model;
}

@{
    ViewData["Title"] = "Search";
}

<div class="container-fluid body-content sn-image sn8 fade70" style="color: #fff; padding: 50px 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form class="form-inline my-2 my-lg-0" style="max-width: 700px; margin: 0 auto;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for a restaurant or keyword" aria-label="Search" style="width: calc(100% - 80px);">
                    <button class="btn btn-sn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-top: 50px; padding-bottom: 20px;">
        <div class="col-lg-8 offset-2">

            <h3 class="display-4" style="font-size: 40px; text-align: center; margin-bottom: 50px; color: #5d7337">Results for "query"</h3>

            <!-- RESTAURANT LISTING -->
            <div class="sn-listing">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-sm-left">
                        <h3 class="restaurant-title"><a href="/">Restaurant Name</a></h3>
                        <span class="restaurant-location"><a href="/">Addresse</a></span>
                        <div class="keywords">
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <a class="ratings-link" href="/">Based on 12 reviews</a>
                        </div>
                        <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                    </div>
                </div>
            </div>

            @foreach (var result in results)
            {
                <div class="sn-listing">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/images/@result.ImagePath" alt="Restaurant Title" onerror="this.style.display='none'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-sm-left">
                            <h3 class="restaurant-title"><a href="/">Restaurant Name</a></h3>
                            <span class="restaurant-location"><a href="/">Addresse</a></span>
                            <div class="keywords">
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                                <button type="button" class="btn btn-light btn-sm">keyword</button>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <div class="ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <a class="ratings-link" href="/">Based on 12 reviews</a>
                            </div>
                            <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                        </div>
                    </div>
                </div>

            }


            <!-- RESTAURANT LISTING -->
            <div class="sn-listing">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-sm-left">
                        <h3 class="restaurant-title"><a href="/">Restaurant Name</a></h3>
                        <span class="restaurant-location"><a href="/">Addresse</a></span>
                        <div class="keywords">
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <a class="ratings-link" href="/">Based on 12 reviews</a>
                        </div>
                        <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                    </div>
                </div>
            </div>

            <!-- RESTAURANT LISTING -->
            <div class="sn-listing">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-sm-left">
                        <h3 class="restaurant-title"><a href="/">Restaurant Name</a></h3>
                        <span class="restaurant-location"><a href="/">Addresse</a></span>
                        <div class="keywords">
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <a class="ratings-link" href="/">Based on 12 reviews</a>
                        </div>
                        <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                    </div>
                </div>
            </div>

            <!-- RESTAURANT LISTING -->
            <div class="sn-listing">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-sm-left">
                        <h3 class="restaurant-title"><a href="/">Restaurant Name</a></h3>
                        <span class="restaurant-location"><a href="/">Addresse</a></span>
                        <div class="keywords">
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <a class="ratings-link" href="/">Based on 12 reviews</a>
                        </div>
                        <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                    </div>
                </div>
            </div>

            <!-- RESTAURANT LISTING -->
            <div class="sn-listing">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="~/images/gustoso-logo.png" alt="Restaurant Title" onerror="this.style.display='none'" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-sm-left">
                        <h3 class="restaurant-title"><a href="/">Restaurant Name</a></h3>
                        <span class="restaurant-location"><a href="/">Addresse</a></span>
                        <div class="keywords">
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                            <button type="button" class="btn btn-light btn-sm">keyword</button>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <a class="ratings-link" href="/">Based on 12 reviews</a>
                        </div>
                        <button class="btn btn-sn btn-reserve" type="submit">Reserve Now</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>